#pbar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 25px;
    border-style: solid;
    border-color: Red;
  }
  #pbar-filled {
    padding: 0px;
    margin: 0px;
    height: 20px;
    border-style: solid;
    border-color: green;
    background-color: green;
  }