/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    min-width: 50%;
}

#question-container > p {
    font-size: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #007BFF;
}

.top-left {
    position: absolute;
    top: 10px; /* Adjust as needed to control the vertical position */
    left: 10px; /* Adjust as needed to control the horizontal position */
}

#score-container {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 8px;
    background-color: #72b1f5;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    border-radius: 20px;
}

/* Style the number input field */
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* Style the input field when focused */
input[type="number"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style the input field for incorrect answers */
input[type="number"].incorrect {
    border-color: #FF0000; /* Red border for incorrect answers */
}

/* Style the input field for correct answers */
input[type="number"].correct {
    border-color: #00FF00; /* Green border for correct answers */
}